__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.rx/
.reflex/
.DS_Store
.git/
.env
.gitignore
Dockerfile
.dockerignore
*.log
.coverage
